<div id="launchbar"></div>

<div class="page-wrapper two-column">
    <div class="testapp-sidebar page-sidebar">
        <div class="sidebar-section navigation">
            <div class="sidebar-section-content">
                <ul>
                    <li class="sidebar-menu-item"><a href="#/boards">Boards</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-content-wrapper">
        <div class="page-content">
            <div id="main" class="testapp-content"></div>
            <div class="page-footer-wrapper"></div>
        </div>
        <div id="footer" class="page-footer"></div>
    </div>

</div>